{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }}'s detail{% endblock %}

{% block body %}
    <h1>{{ user.firstname }}'s detail</h1>

    {% if user.picture %}
        <img src="{{ user.picture }}" alt="Employee picture">
    {% elseif user.pictureFile %}
        <img src="{{ asset('uploads/' ~ user.pictureFile) }}" alt="Photo employé">
    {% else %}
        <p>No picture available</p>
    {% endif %}
    
    <ul>
        
        <li>Firstname: {{ user.firstname }}</li>
        <li>Lastname: {{ user.lastname }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Sector: {{ user.activityArea.name }}</li>
        <li>Contract Type: {{ user.contractType.name }}</li>
        <li>Released date: {{ user.releasedate | date('Y-m-d') }}</li>
    </ul>
{% endblock %}