{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}


{% block body %}

    <style>
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #333;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .table th, .table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .table th {
        background-color: #f5f5f5;
        font-weight: bold;
    }

    .table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tr:hover {
        background-color: #e0e0e0;
    }

    a {
        color: white;
        text-decoration: none;
        margin-right: 10px;
        padding: 5px;
        background-color: gray;
    }

    a:hover {
        color: #0056b3;
    }

    a:active {
        color: #0056b3;
    }

</style>

    <h1>User index</h1>

    <a href="{{ path('app_user_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Picture</th>
                <th>ReleaseDate</th>
                <th>Activity Area</th>
                <th>Contracts Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.picture }}</td>
                <td>{{ user.releaseDate ? user.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.activityarea.name }}</td>
                <td>{{ user.contracttype.name }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
